body{
    font-family: cursive;
    text-align: center;
}
.block {
    width: 300px;
    text-align: center;
    margin-right: 50px;
}
.wrap {
    display: flex;
    justify-content: center;
}
.wrap :last-child {
    margin-right: 0px;
}