body{
    font-family: cursive;
    text-align: center;
}
.block {
    margin-right: 50px;
}
img {
    max-width: 400px;
    height: auto;
}
.wrap {
    display: flex;
    justify-content: center;
}
.wrap :last-child {
    margin-right: 0px;
}