body{
    font-family: cursive;
    text-align: center;
}
.block {
    margin-right: 50px;
}
img {
    width: auto;
    height: 300px;
    cursor: pointer;
}
a {
    cursor: pointer
}
.wrap {
    display: flex;
    justify-content: center;
}
.wrap :last-child {
    margin-right: 0px;
}