<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mimimimeter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/choose.css">
</head>
<body>
    <h1>Mимимиметр</h1>
    <div>Кто из них мимимишнее? Кликни по фотографии!</div>
    <br>
    <div class="wrap">
        <div th:each="cat: ${cats}" class="block">
            <img th:src="'img/' + ${cat.imageName}" alt="cat is fine too"/>
            <br>
            <a th:text="${cat.name}" href="#" />
        </div>
    </div>
</body>
</html>